body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0 150px 0 0;
  list-style-type: none;
  display: flex;
  gap: 22px;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  border-radius: 10px;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px;
  font-weight: bold;
  width: 127px;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  background-color: #7393B3;
}

p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links, .hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 800;
  margin-left: 150px;
}

.hero {
  background-color: #1F2937;
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0;
  flex: 1 1 auto;
}

.main-text-image {
  display: flex;
  justify-content: space-between;
}

.hero-main-text {
  font-weight: 800;
  font-size: 48px;
  color: #F9FAF8;
}

.hero-secondary-text {
  margin: 20px 0 20px 0;
}

.left-side {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}

.main-image-container {
  display: flex;
  color: #E5E7EB;
  background-color: grey;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
}

.left-side, .main-image-container {
  width: 550px;
  height: 250px;
}

.information {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.information-header {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  padding: 45px;
}

.information-cards {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 130px;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 300px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote-author {
  align-self: flex-end;
  font-weight: 950;
  font-size: 20px;
}

.call-to-action-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
}

.call-to-action {
  border: none;
  border-radius: 10px;
  background-color: #3882F6;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  width: 900px;
}

.call-to-action-main-text {
  font-weight: 800;
  font-size: 20px;
}

.call-to-action button {
  border: 2px solid #F9FAF8;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333333;
  gap: 10px;
}

.image-card {
  border: 4px solid #3882F6;
  width: 175px;
  height: 175px;
  border-radius: 16px;
}

